{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns text-center">
        <h2 class="heading">Welcome to Forte!</h2>
        <div class="panel">
            <p>Forte is designed to help you manage your music playlists at events.</p>
            <p>Want to know what your attendees want to listen to? Just send them a Forte and let them tell you. </p>
        </div>
        <a href="{{ url_for('new_playlist') }}" class="button">Create a Playlist</a>
    </div>
</div>
{% endblock %}