<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forte - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/foundation-icons.css" />
    <script src="/static/js/modernizr.js"></script>
    <style type="text/css">
    .insanelysmall {
      padding-top: 0.3rem;
      padding-right: 1.25rem;
      padding-bottom: 0.3rem;
      padding-left: 1.25rem;
      font-size: 1rem;
    }

    .flex-video {
      margin-bottom: 0;
    }
    form {
      margin:0;
    }
    </style>
    {% endblock %}
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
          <h1 style="display:inline-block;padding-right:50px">Forte</h1>
        </div>
      <hr>
    </div>
    {% block content %}

    {% endblock %}
    
    <div class="row">
    <hr>
      <div class="large-12 columns text-center">
      <small>Forte by CSESoc Dev Team for ARC Yellow Shirts. &copy; 2013 CSESoc</small>
      </div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>