{% extends "layout.html" %} 

{% block title %}
  {{ playlist.name }}
{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<script type="text/javascript">
  window.onload = function() {
    applyVotes();
  }
</script>
<div class="row">
  <div class="medium-12 columns">
    <h2>{{ playlist.name }}</h2>
  </div>
</div>
<div class="row">
  {% if playlist.description %}
  <div class="medium-6 columns">
    <h4>Description:</h4>
    <div class="panel">
    <p>{{ playlist.description }}</p>
    </div>
    
  </div>
  <div class="large-6 columns">
    <h4>Link:</h4>
    <div class="panel">
    <p><a href="http://jwiseheart.com:5000/playlists/{{ playlist.hash }}">http://jwiseheart.com:5000/playlists/{{ playlist.hash }}</a></p>
    </div>
  </div>
  {% else %}
  <div class="small-12 columns">
    <h4>Link:</h4>
    <div class="panel text-center">
    <p><a href="http://jwiseheart.com:5000/playlists/{{ playlist.hash }}">http://jwiseheart.com:5000/playlists/{{ playlist.hash }}</a></p>
    </div>
  </div>
  {% endif %}
</div>

<div class="row" style="margin-top:20px">
  <div class="large-12 columns">
    <h4>Suggest Songs:</h4>
    <form method="POST" data-abide>
      <div class="panel">
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-6 columns">
              <div class="input-wrapper">
                <input type="text" name="name" placeholder="Song name..." required/>
                <small class="error">You must include a name.</small>
                </div>
              </div>
              <div class="large-6 columns">
              <div class="input-wrapper">
                <input type="text" name="artist" placeholder="Song artist..." required/>
                <small class="error">You must include an artist.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-10 columns">
              <div class="input-wrapper">
                <input type="text" name="youtube" placeholder="Youtube link..." required pattern="youtube">
                <small class="error">You must include a youtube link in the format http://www.youtube.com/watch?v=VIDEOID</small>
                </div>
              </div>
              <div class="large-2 columns">
                <input type="submit" class="button postfix" class="no-margin" value="Add">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>




<div class="row">
  <div class="large-12 medium-12 columns">
    <h4>Songs:</h4>
    {% if songs %}
    <ul id="Grid" style="margin-left:0">
      {% for song in songs %}
      <li class="panel nb mix" style="width: 100%;">
        <div class="row">
          <div class="small-1 columns text-center buttonBox">
            <button id="up_{{ song.id }}" type="submit" class="insanelysmall button secondary upvote" onclick="upvote({{ song.id }}, '{{ playlist.hash }}', parseInt($j('#votes_{{ song.id }}').text()))"><i class="fi-like"></i></button>
            <h5 id="votes_{{ song.id }}" class="no-margin-bottom">{{ song.votes }}</h5> 
            <button id="down_{{ song.id }}" type="submit" class="insanelysmall button secondary downvote" onclick="downvote({{ song.id }}, '{{ playlist.hash }}', parseInt($j('#votes_{{ song.id }}').text()))"><i class='fi-dislike'></i></button>
          </div>
          <div class="small-10 columns">
            <h4>{{ song.name }}</h4>
            <i>by</i> {{ song.artist }}
          </div>
          <div class="small-1 columns text-center">
          {% if song.youtube %}<a href="http://youtube.com/v/{{ song.youtube }}"><i class="fi-social-youtube youtube"></i></a>{% endif %} 
          </div>
        </div>       
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="panel">
      <h5>Be the first to add a song.</h5>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
