{% extends "layout.html" %} 

{% block title %}
  {{ playlist.name }}
{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="row">
  <div class="large-12 columns">
  <h2> {{ playlist.name }} </h2>
  {% if playlist.description %}
  <div class="panel">
  <p>{{ playlist.description }}</p>
  </div>
  {% endif %}
</div></div>

<div class="row" style="margin-top:20px">
  <div class="large-12 columns">
    <h4>Suggest Songs:</h4>
    <form method="POST" data-abide>
      <div class="panel">
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-6 columns">
              <div class="input-wrapper">
                <input type="text" name="name" placeholder="Song name..." required/>
                <small class="error">You must include a name.</small>
                </div>
              </div>
              <div class="large-6 columns">
              <div class="input-wrapper">
                <input type="text" name="artist" placeholder="Song artist..." required/>
                <small class="error">You must include an artist.</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-10 columns">
              <div class="input-wrapper">
                <input type="text" name="youtube" placeholder="Youtube link..." style="margin-bottom:0" required pattern="youtube">
                <small class="error">You must include a youtube link in the format http://www.youtube.com/watch?v=VIDEOID</small>
                </div>
              </div>
              <div class="large-2 columns">
                <input type="submit" class="button postfix" style="margin:0" value="Add">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>




<div class="row">
  <div class="large-12 medium-12 columns">
  
    <h3>Songs:</h3>
{% if songs %}
    <div id="sortable">
      {% for song in songs %}
      <div class="panel">
        <div class="row">
          <div class="large-2 columns text-center">
            {% if song.youtube %}
            <div class="flex-video">
              <object width= "560" height="315"><param name="movie" value="http://youtube.com/v/{{ song.youtube }}&rel=0&fs=0&theme=light&showinfo=0"></param><param name="allowFullScreen" value="false"></param><param name="allowscriptaccess" value="always"></param><embed src="http://youtube.com/v/{{ song.youtube }}&rel=0&fs=0&theme=light&showinfo=0" type="application/x-shockwave-flash" allowfullscreen="false" width="560" height="315" allowscriptaccess="always"></embed></object>
            </div>
            {% else %}

            <i class="fi-play-video" style="font-size:7rem"></i>

            {% endif %}      
          </div>
          <div class="large-9 columns">
            <h4>{{ song.name }}</h4>
            <i>by</i> {{ song.artist }}
          </div>
          <div class="large-1 columns">
            <button id="up_{{ song.id }}" type="submit" class="insanelysmall button secondary" style="margin:0" onclick="upvote({{ song.id }}, '{{ playlist.hash }}', {{ song.votes }})"><i class="fi-like"></i></button><br />
            <button id="down_{{ song.id }}"type="submit" class="insanelysmall button secondary" style="margin-top:5px;margin-bottom:0;" onclick="downvote({{ song.id }}, '{{ playlist.hash }}', {{ song.votes }}  )"><i class='fi-dislike'></i></button>
          <p id="votes_{{ song.id }}">
            {{ song.votes }}
          </p>     
          </div>
        </div>       
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  {% else %}
  <div class="panel">
  <h5>Be the first to add a song.</h5>
  </div>
  {% endif %}
  </div>
  </div>
{% endblock %}
